/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Typography */
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    min-width: 320px;
    background-image: url('../img/BG.jpg');
    background-repeat: repeat; /* Adjust to your preferred repeat option (repeat-x, repeat-y, no-repeat) */
    opacity: 0.9; /* Adjust opacity value as needed */
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

/* Header */
.page-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #ffffff;
    padding: 10px 0;
    text-align: center;
    width: calc(100% - 30px); /* Adjust the width to match the menu items */
    max-width: 600px; /* Optional: Set a maximum width for larger screens */
    border-radius: 20px;
    margin: 0 auto; /* Center the header horizontally */
}

.navigation-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin: 0 15px;
}

.navigation-list__item {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    transition: opacity 0.3s ease;
}

.navigation-list__item:hover {
    opacity: 0.7;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
    .page-header {
        border-radius: 0; /* Remove border-radius on mobile */
        top: 0; /* Ensure it's at the top */
        width: 100%; /* Full width on mobile */
    }
}

/* Main Content */
main {
    padding-left: 16px; /* Maintain left padding */
    padding-right: 16px; /* Maintain right padding */
}

/* Profile Section */
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.profile__portrait {
    width: 250px;
    height: auto;
    margin-right: 40px;
    border-radius: 50%;
}

.profile__text {
    flex: 1 1 100px;
}

.profile__text--web {
    background-color: #2c3333;
    color: #a5c9ca;
}

/* About Section */
.about {
    margin-top: 100px; /* Add margin to the top of the section */
    margin-bottom: 100px; /* Add margin to the bottom of the section */
    padding-top: 50px; /* Add padding to the top of the section */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.about-list {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.about-list:hover {
    transform: translateY(-5px);
}

.about-list ul {
    list-style-type: none;
    padding: 0;
}

.about-list h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.about-list li {
    font-size: 16px;
    margin-bottom: 5px;
}

.about-button {
    margin-top: 50px; /* Move the button down */
}

/* Work Section */
.work {
    margin-top: 100px; /* Add margin to the top of the section */
    margin-bottom: 100px; /* Add margin to the bottom of the section */
    padding-top: 50px; /* Add padding to the top of the section */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* Two cards per row */
    grid-gap: 20px;
    justify-content: center;
}

.project-card {
    background-color: #f7f7f7; /* Match background color with the about section */
    padding: 20px;
    border-radius: 10px; /* Match border radius with the about section */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    max-width: 300px; /* Set maximum width to 300px */
    width: 100%; /* Ensure cards fill the available space */
}

.project-card:hover {
    transform: translateY(-5px);
}

/* Adjust text size for consistency */
.project-card h2 {
    font-size: 24px; /* Match font size with the about section */
    margin-bottom: 10px;
    text-align: center; /* Center align the text */
}

.project-card p {
    font-size: 16px; /* Match font size with the about section */
    flex-grow: 1; /* Allow the description to grow */
}

.project-card .buttons {
    display: flex;
    justify-content: center;
    margin-top: auto; /* Push buttons to the bottom */
}

.project-card .buttons a {
    display: inline-block;
    margin: 0 5px; /* Adjust margin between buttons */
    background-color: #357b70; /* Match button background color */
    color: white; /* Match button text color */
    padding: 10px 20px; /* Match button padding */
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.project-card .buttons a:hover {
    background-color: #489c79; /* Darken button color on hover */
}

/* Contact Section */
.contact {
    margin-top: 100px; /* Add margin to the top of the section */
    margin-bottom: 100px; /* Add margin to the bottom of the section */
    max-width: 900px;
    margin: 0 auto; /* Center horizontally */
    text-align: center;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.contact-info h2 {
    margin-bottom: 10px;
}

.contact-info p {
    margin: 0;
}

.contact-form {
    width: 100%;
}

.contact-label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.contact-input,
.contact-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    background-color: #357b70;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 40px !important; /* Adjusted height */
}

.submit-button:hover {
    background-color: #489c79;
}

.submit-button:focus {
    outline: none; /* Remove default focus outline */
}

@media only screen and (min-width: 768px) {
    .contact-container {
        flex-direction: row;
        justify-content: center;
    }

    .contact-info {
        margin-right: 20px;
    }
}

/* Footer */
.page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Links */
a {
    color: #357b70;
    transition: 0.5s opacity;
}

a:hover,
a:focus {
    text-decoration: none;
    opacity: 0.6;
}

a:active {
    color: #489c79;
}

/* Buttons */
.button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: #357b70;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #489c79;
}

.button:focus {
    outline: none; /* Remove default focus outline */
    opacity: 0.8;
}
